* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  :root {
    --primary-color: white;
    --secondary-color: blue;
    --tertiary-color: black;
  }
  body {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    display: block;
  }
  header {
    padding: 20px 35px;
    background-color: rgba(25, 0, 255, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    z-index: 9999;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  header a {
    text-decoration: none;
    color: var(--tertiary-color);s
  }
  header nav {
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header li {
    margin: 0 25px 0 0;
  }
  header nav ul li a {
    padding: 10 15px;
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: rgba(0, 0, 0, 0);
    text-shadow: none;
  }
  header h1 {
    font-weight: bold;
    font-size: 42px;
    color: var(--primary-color);
    margin: 0;
    text-align: center;
  }
  h2 {
    order: 1;
    align-items: center;
    margin: 20px;
    width: 150px;
  }
  .section-title {
    justify-content: left;
  }
  .primary-border {
    border-right: var(--secondary-color) 5px solid;
    padding-bottom: 50px;
  }
  .space {
    height: 150px;
    background-color: var(--secondary-color);
    border: 20px solid var(--tertiary-color);
  }
  .about-me {
      padding: 10px;
      margin: 25px;
      display: flex;
      justify-content: space-between;
      border-bottom: 10px solid var(--tertiary-color);
  }
  .about-me p {
      margin: 10px;
      padding: 15px;
      order: 2;
      align-items: flex-end;
  }
  .about-me img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
  .work-experience {
      padding: 10px;
      margin: 25px;
      display: flex;
      justify-content: space-between;
      border-bottom: 10px solid var(--tertiary-color);
  }
  .work-experience p {
      flex: 1;
      margin: 10px;
      padding: 15px;
      align-items: flex-end;
  }
  .projects {
      padding: 10px;
      margin: 25px;
      display: flex;
      border-bottom: 10px solid var(--tertiary-color);
      flex-wrap: wrap;
  } 
  .project-1 img{
    margin: 10px;
    padding: 15px;
    text-align: end;
    width: 550px;
    opacity: 0.3;
    border-radius: 20px;
  }
 .project-1 img:hover {
    width: 550px;
    opacity: 1;
 }
 .project-2 img {
    margin: 10px;
    padding: 15px;
    width: 250px;
    opacity: 0.3;
    border-radius: 20px;
 }
 .project-2 img:hover {
   width: 350px;
   opacity: 1;
 }
 .project-3 img {
  margin: 10px;
  padding: 15px;
  width: 250px;
  opacity: 0.3;
  border-radius: 20px;
}
.project-3 img:hover {
  width: 350px;
  opacity: 1;
}
.project-4 img {
  margin: 10px;
  padding: 15px;
  width: 250px;
  opacity: 0.3;
  border-radius: 20px;
}
.project-4 img:hover {
  width: 350px;
  opacity: 1;
}
.project-5 img {
  margin: 10px;
  padding: 15px;
  width: 250px;
  opacity: 0.3;
  border-radius: 20px;
}
.project-5 img:hover {
  width: 350px;
  opacity: 1;
}
  .contact-me {
      padding : 10px;
      margin: 25px;
      display: flex;
      justify-content: space-between;
  }
  @media screen and (max-width: 980px) {
    body {
      padding-bottom: 0;
      justify-content: center;
    }
  }
  