* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-color: white;
    --secondary-color: blue;
    --tertiary-color: black;
  }
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  header {
    padding: 20px 35px;
    background-color: rgba(25, 0, 255, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    z-index: 9999;
  }
  header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }
  header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  header nav {
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header li {
    margin: 0 25px 0 0;
  }
  header nav ul li a {
    padding: 10 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: rgba(0, 0, 0, 0);
    text-shadow: none;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
  }
  .about-me {
      padding: 10px;
      margin: 15px;
      display: flex;
      justify-content: space-between;
  }
  .about-me h2 {
      flex: 1;
      width: 25%;
      margin: 10px;
      padding: 15%;
  }
  .about-me p {
      margin: 10px;
      padding: 15px;
      flex: 1;
      align-items: flex-end;
  }
  .work-experience {
      padding: 10px;
      margin: 15px;
      display: flex;
      justify-content: space-between;
  }

  .work-experience h2 {
      flex: 1;
      margin: 10px;
      padding: 15px;
      width: 25%;
  }
  .work-experience p {
      flex: 1;
      margin: 10px;
      padding: 15px;
      align-items: flex-end;
  }
  .projects {
      padding: 10px;
      margin: 15px;
      display: flex;
  }